/********************************************* media queries ************************************************/
/************************* New rules if the screen is at more 768px and least 991px *************************/
@media screen and (min-width: 768px) and (max-width: 991px){

    /**********************************************************************************************/
    /********************************************* main *******************************************/
    /**********************************************************************************************/
    main{
        height: 4890px;
    }

    /************************************** search container *************************************/
    /**********************************************************************************************/
    .filters{
        left: 0;
        top: 52px;
        width: 546px;
        height: 120px;
    }
    .filter{
        font-size: 16px;
    }
    .eco-filter{
        width: 185px;
    }
    .fam-filter{
        width: 142px;
    }
    .rom-filter{
        width: 174px;
    }
    .ani-filter{
        width: 232px;
    }
    .icon-info{
        top: 187px;
    }
    .info{
        margin-top: 140px; 
    }

    /************************************** catalog container *************************************/
    /**********************************************************************************************/
    .center-contenair{
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
    }
    .catalog-container{
        margin-top: 125px;
    }

    /************************************** lodging container *************************************/
    /**********************************************************************************************/
    .lodging-container{
        width: 595px;
        height: 855px;
    }
    .lodging{
        margin-left: 32px;
    }

    /*************************************** most famous ******************************************/
    /**********************************************************************************************/
	.most-famous-container{
        position: relative;
        top: 900px;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 4px;
        width: 595px;
        height: 800px;
    }
    .star-most-famous{
        left: 375px;
    }
    .most-famous{
        margin-left: 32px;
        margin-bottom: 36px;
        top: 68px;
        width: 520px;
        height: 188px;
    }
    .most-famous-subtitle,
    .most-famous-info,
    .star-famous{
        margin-left: 320px;
        margin-top: -100px;
    }
    .most-famous-subtitle{
        top: 114px;
        left: 15px; 
    }
    .most-famous-info{
        top: 155px;
        left: 15px;
    }
    .star-famous{
        top: 252px;
        left: 15px;
    }
    .most-famous-wrap{
        width: 315px;
        height: 180px;
        border-radius: 16px 0 0 16px;
    }
    .img-most-famous{
        width: 315px;
        left: 0;
    }
    .img-hotel-le-soleil-du-matin{
        top: -20px;
    }
    .img-hotel-tout-bleu-et-blanc{
        top: -180px;
    }

    /*************************************** activities *******************************************/
    /**********************************************************************************************/
    .activities-contenair{
        flex-direction: column;
        top: 900px;
        height: 0;
        width: 595px;
        padding-left: 0;
    }
    .activities-box{
        left: 0;
        width: 595px;
        height: 800px;
    }
    .all-wrap{
        left: 0;
        margin-left: 0;
        width: 595px;
    }
    .fort-de-pomegues-wrap{
        height: 600px
    }
    .iles-du-frioul-wrap{
        height: 400px;
    }
    .notre-dame-de-la-garde-wrap{
        height: 600px;
    }
    .parc-longchamp-wrap{
        height: 600px;
    }
    .activites-last-box,
    .parc-national-des-calanques-wrap,
    .fort-de-pomegues-wrap,
    .iles-du-frioul-wrap,
    .parc-longchamp-wrap{
        margin-top: 41px;
    }
    .img-wrap{
        top: 0;
        bottom: 45px;
        width: 595px;
        height: auto;
    }
    .img-vieux-port,
    .img-iles-du-frioul,
    .img-fort-de-pomegues,
    .img-notre-dame-de-la-garde,
    .img-parc-longchamp{
        display: none;
    }
    .img-activities-w-595{
        display: block;
        position: absolute;
        width: 595px;
        height: auto;
    }
    .img-fort-de-pomegues-medium{
        top: -325px;
    }
    .img-iles-du-frioul-medium{
        top: -80px;
    }
    .img-parc-national-des-calanques{
        width: 595px;
        top: -50px;
        left: 0;
    }
    .img-parc-longchamp-medium{
        top: -80px;
    }

    /**********************************************************************************************/
    /******************************************** footer ******************************************/
    /**********************************************************************************************/
    .about-text,
    .about-text:hover{
        font-size: 14px;
    }
}